:root {
    --white: #ffffff;
    --white-grey: #1212124D;
    --black: #000000;
    --black-lite: #121212;
    --black-dark: #1E1E1E;
    --grey: #D9D9DE;
    --blue: #00538C;

    --maxWidth: 1800px;
  }